{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/userInfo.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
    <script src="{% static 'js/userInfo.js' %}"></script> 
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/post.js' %}"></script>
    <title>个人信息</title>
</head>
<body>
    {% if user %}
    <div id="userInfo">
        <div id="baseInfo" class="row">
            <div id="headPortrait" class="thumbnail col-xs-5 col-md-5">
                {% if user.headPortrait %}
                <img src="{{user.headPortrait.url}}" alt="暂无头像">
                {% else %}
                <img src="{% static 'img/defaultHP.jpg' %}" alt="暂无头像">
                {% endif %}
            </div>
            <div id="info" class="col-xs-7 col-md-7">
                <p><nobr>账号:</nobr><nobr class="test">{{user.username}}</nobr></p>
                <p><nobr>昵称:</nobr><nobr class="test">{{user.nickName}}</nobr></p>
                <p><nobr>性别:</nobr><nobr class="test">{{user.sex}}</nobr></p>
                <p><nobr>个性签名:</nobr><nobr class="test">{{user.personalSignature}}</nobr></p>
                <p><nobr>注册日期:</nobr><nobr class="test">{{user.create_date.year}}-{{user.create_date.month}}-{{user.create_date.day}} {{user.create_date.hour}}:{{user.create_date.second}}</nobr></p>
                <p><nobr>邮箱:</nobr><nobr class="test">{{user.email}}</nobr></p>
                <p><nobr>电话:</nobr><nobr class="test">{{user.phone}}</nobr></p>
                <p><nobr>QQ:</nobr><nobr class="test">{{user.qq}}</nobr></p>
                <p><nobr>微信:</nobr><nobr class="test">{{user.wechat}}</nobr></p>
            </div>
        </div>
        <div id="options">
            <a href="{% url 'home' %}"><button id="home" type="button">首页</button></a>
            {% if request.user == user%}
            <button type="button" onclick="modifyInfo()">编辑个人资料</button>
            <a href="{% url 'newPost' %}"><button id="newPost" type="button">新建帖子</button></a>
            {% endif %}
        </div>
        <div id="userPosts">
            <div id="postList" class="col-xs-12 col-md-12">
                {% for post in postList %}
                <div class="post row"  id="{{post.id}}">
                    <div class="postTitle">
                        <a href="{% url 'findForumById' post.id %}"><h3>{{ post.title }}</h3></a>
                        <p>{{ post.context}}</p>
                    </div>
                    <div class="imgList">
                        {% for img in post.postImages.all %}
                            {% if forloop.counter0 < 4 %}
                                {% if forloop.counter0 == 3 %}
                                <a href="{% url 'findForumById' post.id %}" class="thumbnail col-xs-6 col-md-3" style="text-align: center;">
                                    <div class="bg">
                                        <p>。。。</p>
                                    </div>
                                    <img src="{{img.photo.url}}"  class="lastImg">
                                </a>
                                {% else %}
                                <img class="thumbnail col-xs-6 col-md-3" src="{{img.photo.url}}">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="options">
                        <div class="makeCommit">
                            <button class="postCommit">评论</button>
                        </div>
                        {% if request.user == user%}
                        <div class="delete">
                            <button class="deletePost" type="button">删除</button>
                        </div>
                        {% endif %}
                        <div class="like">
                            <button class="likePost" type="button">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </button>
                            <p>{{post.likesNum}}</p>
                        </div>
                    </div>
                    <div class="makePostCommit closeCommit">
                    </div>
                    <div class="commits">
                        {% for commit in post.postConmmits.all %}
                            <div class="commit">
                                <div class="postCommit">
                                    <p>{{commit.userOwner.nickName}}:{{commit.context}}<button class="makeCommitCommit">评论</button></p>
                                </div>
                                <div class="commitCommits">
                                {% for innerCommit in commit.commitConmmits.all %}
                                    <div class="commitCommit">
                                        <p>{{innerCommit.userOwner.nickName}}:{{innerCommit.context}}</p>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="clearfloat"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>

    <div id="modifyDIv">
        <form id="modifyForm" action="/modifyInfo" method="post" enctype="multipart/form-data">
            <div id="modify_headPortrait" class="col-xs-5 col-md-5">
                <div class="thumbnail">
                    {% if user.headPortrait %}
                    <img src="{{user.headPortrait.url}}" alt="暂无头像">
                    {% else %}
                    <img src="{% static 'img/defaultHP.jpg' %}" alt="暂无头像">
                    {% endif %}
                </div>
                <input id="headPortrait" name="headPortrait" type="file" accept="image/*">
            </div>
            <div id="modify_info" class="col-xs-7 col-md-7">
                <p><nobr>昵称:</nobr><input name="nickName" type="text" value="{{user.nickName}}"></p>
                <p><nobr>性别:</nobr><input name="sex" type="text" value="{{user.sex}}"></p>
                <p><nobr>个性签名:</nobr><input name="personalSignature"type="text" value="{{user.personalSignature}}"></p>
                <p><nobr>邮箱:</nobr><input name="email" type="text" value="{{user.email}}"></p>
                <p><nobr>电话:</nobr><input name="phone" type="text" value="{{user.phone}}"></p>
                <p><nobr>QQ:</nobr><input name="qq" type="text" value="{{user.qq}}"></p>
                <p><nobr>微信:</nobr><input name="wechat" type="text" value="{{user.wechat}}"></p>
            </div>
        </form>
        <div id="modify_options">
            <div id="modifyOpt_confirm"><button type="button" onclick="modify()">确定修改</button></div>
            <div id="modifyOpt_cancle"><button type="button" onclick="cancleModify()">取消修改</button></div>
        </div>
    </div>
    {% else %}
    <p>该用户不存在</p>
    {% endif %}

</body>

</html>

