{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校园论坛|{% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/post.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block cssBlock %}{% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script> 
    <script src="{% static 'js/post.js' %}"></script>  

</head>
<body id="body">
    <div class="sign-in">
        <div class="input_1">
            <div class="login_logo">
                用户登录
                <div class="close">X</div>
            </div>
        </div>
        <hr>
        <div class="input_1"><input type="text" id="loginUser" placeholder="&nbsp;账号"></div>
        <div class="input_1"><input type="password"  id="loginPassword" placeholder="&nbsp;密码"></div>
        <div><p id="loginMsg"></p></div>
        <div class="input_1">
             <input class="submit_1" type="button" id="login" value="登&nbsp;录">
        </div>
        <div class="loginOptions">
            <!-- <a href="#">忘记密码</a> -->
            <button type="button" id="forgetPassword">忘记密码</button>
        </div>
    </div>
    <div class="sign-up">
            <div class="input_1">
                <div class="signUp_logo">
                    用户注册
                    <div class="close">X</div>
                </div>
            </div>
            <div id="signupIntroduce" >我们只需要最一些最基本的信息用以注册，然后你可以进入个人中心以编辑</div>
            <hr>
            <div class="input_1"><input type="text" name="user" id="signupUser" placeholder="&nbsp;账号"></div>
            <div class="input_1"><input type="password"  id="signupPassword1" placeholder="&nbsp;密码"></div>
            <div class="input_1"><input type="password"  id="signupPassword2" placeholder="&nbsp;重复你的密码"></div>
            <div><p id="signuptMsg"></p></div>
            <div class="input_1"><input class="submit_1" type="submit" id="signup"  value="注&nbsp;册"></div>
    </div>
    <div id="top-container">
        {% if request.session.userError %}
        <div id="errorDiv"><!--  
         --><marquee id="userErrorMsg" behavior="scroll" direction="up" scrollAmount="0">{{request.session.userError}}</marquee><!-- 
         --><button id="userErrorMsgCloseBtn" type="button">x</button><!--
     --></div>
        {% endif %}
        <p id="title">校园论坛</p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'userInfo' request.user.username %}" style="float: right; margin-right: 5%;">{{request.user.nickName}}</a>
        <p style="float: right;padding-left: 2px;padding-right: 2px;">|</p>
        <a href="{% url 'log' 'logout' %}" style="float: right;" id="logout">退出登录</a>
        {% else %}
        <div id="login-group">
            <button id="sign-in">登录</button>
            <button id="sign-up">注册</button>
        </div>
        {% endif %}
        <div class="clearfloat"></div>
    </div>
    <div id="main-container">
        <div id="left-main-container" class="col-xs-2 col-md-2">
            <div class="col-xs-4 col-md-4"></div>
            <ul class="nav nav-tabs nav-stacked col-xs-8 col-md-8" id="base-nav">
                <li role="presentation" id="home"><a href="{% url 'home' %}">首页</a></li>
                <li role="presentation" id="anecdoteForum"><a href="{% url 'forum' 'anecdoteForum' %}">校园轶事</a></li>
                <li role="presentation" id="driftBottle"><a href="{% url 'forum' 'driftBottle' %}">漂流瓶</a></li>
                <li role="presentation" id="eventInformation"><a href="{% url 'forum' 'eventInformation' %}">活动信息</a></li>
                <li role="presentation" id="lostAndFound"><a href="{% url 'forum' 'lostAndFound' %}">失物招领</a></li>
                <li role="presentation" id="loveWall"><a href="{% url 'forum' 'loveWall' %}">表白墙</a></li>
            </ul>
        </div>
        <div id="right-main-container" class="col-xs-10 col-md-10 container">
            {% block right-main-container %}
            {% endblock %}
            {% if pageData %}
                <div class="paging col-xs-12 col-md-12">
                    <ul id="pages" class="pagination pagination-sm pagination-xs">
                        {% if pageData.first %}
                        <li><a href="?page=1">1</a></li>
                        {% endif %}
                        {% if pageData.left %}
                        {% if pageData.left_has_more %}
                        <li><span>...</span></li>
                        {% endif %}
                        {% for i in pageData.left %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                        {% endif %}
                        <li class="active"><a href="?page={{pageData.page}}">{{pageData.page}}</a></li>
                        {% if pageData.right %}
                        {% for i in pageData.right %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                        {% if pageData.right_has_more %}
                        <li><span>...</span></li>
                        {% endif %}
                        {% endif %}
                        {% if pageData.last %}
                        <li><a href="?page={{pageData.total_pages}}">{{pageData.total_pages}}</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="clearfloat"></div>
    </div>
    
</body>

<script type="text/JavaScript">
    $('#{{active_menu}}').addClass("active");
</script>

</html>